<svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<g opacity="1">
<circle cx="3.66669" cy="9.6665" r="2.5" fill="#73777A"/>
<circle cx="10.66669" cy="9.6665" r="2.5" fill="#73777A"/>
<circle cx="17.6667" cy="9.6665" r="2.5" fill="#73777A"/>
</g>
</svg>
